<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="workmanager.dao.GroupMapper" >
  <resultMap id="BaseResultMap" type="workmanager.entity.Group" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_description" property="groupDescription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, group_description
  </sql>
  <!--&lt;!&ndash;<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >&ndash;&gt;-->
    <!--&lt;!&ndash;select &ndash;&gt;-->
    <!--&lt;!&ndash;<include refid="Base_Column_List" />&ndash;&gt;-->
    <!--&lt;!&ndash;from group&ndash;&gt;-->
    <!--&lt;!&ndash;where id = #{id,jdbcType=INTEGER}&ndash;&gt;-->
  <!--&lt;!&ndash;</select>&ndash;&gt;-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from group-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="workmanager.entity.Group" >-->
    <!--insert into group (id, group_name, group_description-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{groupDescription,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="workmanager.entity.Group" >-->
    <!--insert into group-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="groupName != null" >-->
        <!--group_name,-->
      <!--</if>-->
      <!--<if test="groupDescription != null" >-->
        <!--group_description,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="groupName != null" >-->
        <!--#{groupName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="groupDescription != null" >-->
        <!--#{groupDescription,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="workmanager.entity.Group" >-->
    <!--update group-->
    <!--<set >-->
      <!--<if test="groupName != null" >-->
        <!--group_name = #{groupName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="groupDescription != null" >-->
        <!--group_description = #{groupDescription,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="workmanager.entity.Group" >-->
    <!--update group-->
    <!--set group_name = #{groupName,jdbcType=VARCHAR},-->
      <!--group_description = #{groupDescription,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>